/** */
footer {
    padding: 20px;

    text-align: center;
    background: rgb(90, 89, 89);
    color: #eeeeee;
}

@media screen and (min-width: 767px) {
    footer {
        padding: 30px;
        font-size: 1.2rem;
    }
}