/** */
footer {
    padding: 20px;

    text-align: center;
    font-weight: bold;
    background: rgb(116, 31, 71);
    color: #d1d1d1;
}

@media screen and (min-width: 767px) {
    footer {
        padding: 30px;
        font-size: 1.2rem;
    }
}